:root {
  --palette-bg: #fef5ef;
  --palette-surface: #f0dcda;
  --palette-border: #b3727f;
  --palette-text: #40101c;
  --palette-text-strong: #40101c;
  --palette-contrast: #40101c;
  --palette-inverse: #fef5ef;
  --palette-primary: #831f38;
  --palette-accent: #5e8c68;
  --profile-light-visibility: visible;
  --profile-dark-visibility: hidden;
}
